<a href="/monsters"><img alt="Rampage" src="images/rampage.gif"></a>

<div id="message">
  <p><a href="/monsters">Come, Meet The Monsters</a></p>
  <p>They're waiting to meet you. And they're hungry.</p>
</div>
